<section class="space-y-6">
  <%- include('../partials/home/stack-stage') %> <%-
  include('../partials/home/animation-controls') %> <%-
  include('../partials/home/tooltips-shells') %> <%-
  include('../partials/home/hero-card') %>

  <div class="grid gap-4 sm:grid-cols-2">
    <%- include('../partials/home/hosted-services') %> <%-
    include('../partials/home/skills-card') %>
  </div>

  <%- include('../partials/home/github-card') %>
</section>

<%- include('../partials/tooltips') %>
